<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <joint name="imu_joint" type="fixed">
        <parent link="chassis"/>
        <child link="imu"/>
        <origin xyz="0.116 0 0.002" rpy="0 0 0"/>  
        <!-- the rplidar c1 has it laser scans emmitted at a height of 29.8mm from the base od the sensor, this was added to the height of the chasis to get 85mm used above -->
    </joint>

    <link name="imu">
        <visual>
            <origin xyz="0 0 0.05"/>
            <geometry>
                <box size="0.05 0.05 0.02"/>
            </geometry>
            <material name="black"/>
        </visual>
    </link>



</robot>